In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [15]:
df_customers = pd.read_csv("parana_customers.csv", encoding = "utf-8")
df_LP = pd.read_csv("Parana_LP.csv", encoding = "utf-8")
df_order_items = pd.read_csv("parana_order_items.csv", encoding='ISO-8859-1')
df_orders = pd.read_csv("parana_orders.csv", encoding = "utf-8")
df_products = pd.read_csv("parana_products.csv", encoding = "utf-8")

In [18]:
df_order_items

,order_id,Quantity,product_id,seller_id,shipping_limit_date,Price,freight_value,seller_zip_code_prefix,seller_city,seller_state,seller_lat,seller_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,9/19/2017 9:45,58.90,13.29,27277,volta redonda,SP,-22.49,-44.12
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,5/3/2017 11:05,239.90,19.93,3471,sao paulo,SP,-23.56,-46.51
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,1/18/2018 14:48,199.00,17.87,37564,borda da mata,MG,-22.26,-46.15
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,8/15/2018 10:10,12.99,12.79,14403,franca,SP,-20.54,-47.39
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2/13/2017 13:57,199.90,18.14,87900,loanda,PR,-22.93,-53.13
...,...,...,...,...,...,...,...,...,...,...,...,...
102420,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,5/2/2018 4:11,299.99,43.41,88303,itajai,SC,-26.91,-48.67
102421,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,7/20/2018 4:31,350.00,36.53,1206,sao paulo,SP,-23.53,-46.64
102422,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,10/30/2017 17:14,99.90,16.95,80610,curitiba,PR,-25.46,-49.29
102423,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,8/21/2017 0:04,55.99,8.72,4733,sao paulo,SP,-23.63,-46.69
102424,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,6/12/2018 17:10,43.00,12.79,14940,ibitinga,SP,-21.76,-48.83